[%- SET title = "About “Rindolf” - Shlomi Fish’s Nickname" -%]
[%- SET desc = "About “Rindolf” - Shlomi Fish’s Nickname: Rindolf the Dwarven Warrior, the IRC nickname, Rindolf the Evil Reindeer, and “Rindolfism”" -%]

[% main_class.addClass("fancy_sects", "lim_width", "side_toc") %]

[%- WRAPPER wrap_html -%]

[% PROCESS "Inc/real_shlomif.tt2" %]

[% SET IRC = my_acronym( "key" => "IRC",) %]

[% BLOCK rindolf_floaty_img %]
<a href="[% href %]"><img src="[% src %]" alt="[% alt %]" title="[% title %]" class="rindolf" /></a>
[% END %]

[% default_toc %]

[% WRAPPER h2_section id = "what" title = "“Rindolf” - Shlomi Fish’s Nickname" %]

<p>
I, Shlomi Fish, have decided to allow people on and off [% IRC %] to call me
“Rindolf”, due to the fact that some non-Hebrew inclined people have problems
with my private name - <a href="[% base_path %]meta/FAQ/#your_name">“Shlomi”</a>.
Some common pet names for Rindolf include “Rin”,
“Rinny”, “Rindy”, “Rinfold”, etc.
</p>

[%- END -%]

[% WRAPPER h2_section id = "rindolf_the_dwarf" title = "Rindolf the Dwarven Warrior" %]

[% INCLUDE rindolf_floaty_img href = "http://clockworkgods.wikia.com/wiki/Dwarf", src = "images/500px-Dwarf_miner--200w.jpg", alt = "Dwarven Warrior with a Pick", title = "Photo of a Dwarven Warrior with a War pick", %]

<p>
Rindolf was a dwarven warrior that I played in an
<a href="http://en.wikipedia.org/wiki/Editions_of_Dungeons_%26_Dragons#Advanced_Dungeons_.26_Dragons_2nd_edition">AD&amp;D 2nd edition</a> session. I
came up with this name as appropriate for a dwarf probably out of thinking of
other common Germanic names such as
<a href="http://en.wikipedia.org/wiki/Randolph_%28given_name%29">Randolph</a>
(literally “Shield+Wolf” in Germanic) or
<a href="http://en.wikipedia.org/wiki/Rudolph_%28name%29">Rudolph</a>
(literally “famous wolf”), and it had a nice ring to it. Rindolf ended up
becoming my young
favourite tabletop Role playing games character of all time, but then
ended up dying in a battle with a
<a href="http://www.dandwiki.com/wiki/SRD:Doppelganger">Doppleganger</a>, in
what was the Broken Shaft’s Adventuring Company best adventure (but a deadly
one), in part due to a misunderstanding between the game master and me. This
death proved to be a big shock on me (= Shlomi), and part of me felt guilty
about the death of my character which I felt was not real enough to warrant
grieving on. I was wrong.
</p>

<p>
Later on, at Internet chat sessions, after first using the nickname “dori” and
then switching to “gloin”
(= two of the Dwarves from Tolkien’s
<a href="http://en.wikipedia.org/wiki/The_Hobbit"><i>The Hobbit</i></a>)
I settled on “rindolf”, which I felt was the most original nickname, and part
of my individuality.
</p>

[%- END -%]

[% WRAPPER h2_section id = "rindolf_the_evil_reindeer" title = "Rindolf the Evil Reindeer" %]

[% INCLUDE rindolf_floaty_img href = "https://drawception.com/viewgame/eydXpMGgOh/inception/", src = "images/evil-reindeer-200w.png", alt = "Evil Reindeer", title = "Photo of “Rindolf” the EvilReindeer", %]

<p>
After I started talking intensively on [% IRC %] at around 2003 and 2004, especially
on the <a href="http://freenode.net/">Freenode network</a>, which I can
still recommend, a few people teased me for being one of Santa Claus’s
red-nosed reindeer or his “reingeek” or whatever. This was done by reference to
<a href="http://en.wikipedia.org/wiki/Rudolph_the_Red-Nosed_Reindeer">Rudolph
the Red-Nosed Reindeer</a> and his oft-cited brother “Randolph”. At first,
I found it annoying, but after a while decided to take it to my advantage.
</p>

<p>
As a result, the new Rindolf has become the Evil twin brother of
Rudolph and Randolph, Santa’s goody-two-shoes reindeer, who are among
his arch-enemies. He is also one of the cornerstones of the Evil Reindeer
Evil World Domination Evil Conspiracy, which aims to spread Evil in general
and Reindeer Evil in particular around the world.
</p>

<p>
Some of Rindolf the Evil Reindeer’s appearances on [% IRC %] include:
</p>

<ol>

<li>
<p>
<a href="[% base_path %]humour/fortunes/show.cgi?id=sharp-sharp-programming-reindeers-tomatoes-and-nicks">“Reindeer, Tomatoes and Nicks”</a>
</p>
</li>

<li>
<p>
<a href="[% base_path %]humour/fortunes/show.cgi?id=sharp-sharp-programming-the-ultimate-showdown">“The Ultimate ##programming Showdown”</a>
</p>
</li>

<li>
<p>
<a href="[% base_path %]humour/fortunes/show.cgi?id=sharp-sharp-programming-what-kind-of-animal-is-Zuu">“What kind of animal is Zuu?”</a>
</p>
</li>

</ol>

[% WRAPPER h3_section id = "gandalfs_reindeer" title = "Gandalf’s Reindeer" %]

[% INCLUDE rindolf_floaty_img href = "images/my-name-is-rindolf.jpg", src = "images/my-name-is-rindolf-200w.jpg", alt = "My Name is Rindolf", title = "Gandalf saying “My name is Rindolf”", %]

<p>
Some people told me the name “Rindolf” reminds them of that of
<a href="http://lotr.wikia.com/wiki/Gandalf">Gandalf</a> from the Middle
Earth world of J. R. R. Tolkien. I decided to take it to my advantage too,
and became the former pet of Gandalf, who betrayed him and acquired a lot
of evil magic using his EvilAntlers™.
</p>

[%- END -%]

[% WRAPPER h3_section id = "the_rindolf_algo" title = "The Rindolf Algorithm" %]

<p>
Rindolf has devised The Rindolf Algorithm, which is a sophisticated encryption
algorithm that protects you against everyone, including one's government,
with the sole exception of one's 5 years old little sister. See
<a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">Rijndael</a>.
</p>

[%- END -%]

[% WRAPPER h3_section id = "rintintin_and_dolf" title = "Rin Tin Tin + Dolf = Rindolf" %]

<p>
I came up with a different midrash during an extended <a href="https://en.wikipedia.org/wiki/Mania">Mania</a> period,
where as a boy I was asked to pick a nickname and
said "What is the name of this dog? [answer: Rin Tin Tin] And of this dog? [answer: Dolf] 'Rin Tin Tin' plus 'Dolf': 'Rindolf!'. That sounds like the name of one of your dwarves, <a href="https://buffy.fandom.com/wiki/Rupert_Giles">Giles</a>! 'Rindolf the Bearded'!"
</p>

[%- END -%]

[% WRAPPER h3_section id = "rindolf_aim_very_high_hitlower" title = "Rindolf “Aim Very High” Hitlower" %]

<p>
Not only is Rindolf an evil Reindeer, but he is also the notorious insane
tyrant and mass-murderer, Rindolf “Aim Very High” Hitlower. As you may have
guessed, people said that my nickname “Rindolf” reminded them of “Adolf
Hitler”, and even though I was offended by it for a long time, I eventually
decided to take it to my advantage, too. Recently (Late June, 2014) I’ve told
people that I decided that in my personal and professional life, I will <b>aim
very high</b> in the hope that I will hit the aim or perhaps a little lower,
and so settled on this nickname.
</p>

[% WRAPPER h4_section id = "the_hacker_monarch" title = "The Hacker Monarch (= The Messiah)" %]

[% INCLUDE rindolf_floaty_img href = "${base_path}humour/bits/facts/Summer-Glau/", src = "${base_path}humour/bits/facts/images/summer-glau-1-200w.jpg", alt = "Photo of Summer Glau from the English Wikipedia", title = "Summer Glau", %]

<p>
I concluded that
I was the <a href="[% base_path %]philosophy/philosophy/putting-cards-on-the-table-2019-2020/#hacker-monarchs"><b>hacker king</b></a>/<b>warrior king</b> (or the Messiah)
between roughly 2000 and
up-to-and-until the publication of the informal screenplay
<a href="http://www.shlomifish.org/humour/Summerschool-at-the-NSA/">“Summerschool
at the NSA”</a>. At that point, one of my
<a href="http://en.wikipedia.org/wiki/Galatea_%28mythology%29">“Galateas”</a>,
the lovely and real-life
<a href="[% base_path %]humour/bits/facts/Summer-Glau/">Summer Glau</a>, became an
“apple that completely supplanted the tree”.
</p>

<p>
I realised that she likely wants to be the hacker monarch even more badly
than I have, throughout all the years I was the hacker king of the world.
The hacker monarch is also known as “The <b>Best of the Best of the Best</b>” to
paraphrase on the excellent film
<a href="http://en.wikipedia.org/wiki/Men_in_Black_%28film%29"><i>Men
in Black</i></a>. Despite whatever faults she or I had, we are both full of
awesomeness.
</p>

[%- END -%]

[% WRAPPER h4_section id = "from_the_invisible_to_alpha_male" title = "From the Invisible to the Alpha Male" %]

<p>
Meanwhile, I’m glad I’m no longer playing
<a href="http://buffyfanfiction.wikia.com/wiki/Selinaverse#The_Invisible">The
<b>Invisible</b></a> who is arguably
the worst kind of hacker monarch, and plan on becoming the Alpha male, and won’t
stop until or even after I appear on the cover of
<a href="http://en.wikipedia.org/wiki/People_%28magazine%29"><i>People</i>
magazine</a> with
the caption “<b>Sexiest man alive</b>”. This, in turn, is inspired a lot by
a scene from
the wonderful film
<a href="http://en.wikipedia.org/wiki/Richie_Rich_%28film%29">Richie Rich</a>,
which echoes the fact that the main actor in the film,
<a href="http://en.wikipedia.org/wiki/Macaulay_Culkin">Macaulay Culkin</a>, was
the alpha male at the time, despite his youth.
</p>

<p>
At age 37 (I am 1977 born), I feel <b>younger</b> than ever, more and more
enlightened, and with a huge burden off my chest, and can approach many
years of wonder, fame, fortune, and especially - love, strength, sexiness,
pluralism, joy and happiness.
</p>

[%- END -%]

[% WRAPPER h4_section id = "passing_the_baton" title = "Passing the Baton" %]

[% INCLUDE rindolf_floaty_img href = "images/brown-1d10-SGlau-LARGE.jpg", src = "images/brown-1d10-SGlau-scaled.jpg", alt = "My ten-sided-die “Schwartz” ring/amulet of power", title = "My ten-sided-die “Schwartz” ring/amulet of power", %]

<p>
I hope I can meet Summer Glau at the upcoming
<a href="http://nineworlds.co.uk/">Nine Worlds Convention</a> or wherever and
formally <b>pass the baton</b>. The latter will be officially passed in the form of
<a href="images/brown-1d10-SGlau-LARGE.jpg">a “<b>ring</b>”</a>:
a
plain brown ten-sided role-playing game die (a
<a href="http://en.wikipedia.org/wiki/Ten-sided_die">1d10</a>),
which I carry in my pencil case
in my backpack
</p>

<p>
One of my friends at the time said I could take
it and keep it, and it became my <b>symbolic token</b>. I’ve felt that it
is <b>blessed</b> and <b>cursed</b> at the same time (which are
<a href="http://www.naute.com/inspiration/luck.phtml">two sides of
the same coin</a>). Now Summer will decide what to do with it.
</p>

[%- END -%]

[% WRAPPER h4_section id = "sic_transit_gloria" title = "Sic Transit Gloria" %]

<p>
I was the hacker king and it was a great honour, but I guess that
<a href="http://en.wikipedia.org/wiki/Sic_transit_gloria_mundi"><b>Sic Transit
Gloria Mundi</b></a>, and
if asked I would have known this day would come.
</p>

[%- END -%]

[% WRAPPER h4_section id = "looking_into_the_future" title = "Looking into the Future" %]

<p>
In the meanwhile:
<a href="http://www.reddit.com/r/Judaism/comments/2923ba/what_does_jehovah_mean/">Summer Glau
jehovah Qoheleth</a>. So let me say: <a href="http://www.shlomifish.org/humour.html#carpe_diem">Carpe diem</a>,
motherfucker!!! Do you speak it?! And:
<a href="[% base_path %]philosophy/philosophy/putting-all-cards-on-the-table-2013/#david_and_goliath">hackers</a> of the world - unite!!
</p>

[%- END -%]

[% WRAPPER h4_section id = "update_long_live_us_hacker_monarchs" title = "Update: Long Live, us, [no-\"the\"!] Hacker Monarchs!" %]

[% INCLUDE rindolf_floaty_img href = "${base_path}philosophy/SummerNSA/", src = "${base_path}humour/Summerschool-at-the-NSA/images/summernsa-logo-small.png", alt = "Summerschool at the NSA Logo", title = "Summerschool at the NSA Logo", %]

<p>
(<b>2014-Sep-07</b>)
Following the <a href="http://unarmed.shlomifish.org/3001.html">call for
action</a> for “Finishing
Off The Open Content / Web 2.0 Revolution (#SummerNSA)”, I have become tired of
remaining <b>The</b> Hacker monarch.  As a result, I mentally decided to quit
prematurely and let the whole world go to hell.  This was done per advice of
<a href="http://en.wikipedia.org/wiki/Larry_Wall">Larry Wall</a>,
who was the wonderful The Hacker King of the Open Source/Usenet revolution
(~1983-1997), and quite The Invisible as well (by choice).</p>

<p>
After feeling vindictive and resentful for a while (which I knew by
experience was a transitional feeling and that I should not act upon it),
I realised something. What I realised was that Summer Glau, being the
legendary Bajoran profile, “The Sexiest <b>Terminator</b> Ever”, just
terminated the whole obsession of me and other people with a small group being
“<b>The</b> Hacker Monarch” and instead there are now more than one
potential “Hacker Monarchs”. And to that I am grateful to her.
</p>

<p>
(FFFFUUUU <a href="http://mlp.wikia.com/wiki/Rainbow_Dash">Rainbow Dash</a>
-like people, who always think there should be one and only winner in a
competition.)
</p>

<p>
Therefore, I plan on remaining <b>an</b> awesome hacker monarch for the
foreseeable future, and will be joined by Ms. Glau and by other people who are
willing to play that role. Perhaps future historians will designate some people
in particular as being that in the present, but such global
<a href="http://en.wikipedia.org/wiki/Superlative">superlatives</a>
probably ought to die for now.
</p>

<p>
(Also see how previously
the fictional Selina Mandrake, being The <b>Dispeller</b>
<a href="http://www.shlomifish.org/humour/Selina-Mandrake/ongoing-text.html#from-dispeller-to-selina">dispelled</a> the whole ordeal with assigning
superlative profiles.)
</p>

<p>
I still plan on <b>passing</b> that d10 die to Summer in person with much
fanfare, because it's now her property. And I am still planning on becoming a
successful, rich, and famous, writer/entertainer/philosopher and
screenwriter. Remember the name: Shlomi “Rindolf” Fish!
</p>

[%- END -%]

[% WRAPPER h4_section id = "real_shlomif_success" title = "Success in the Selinaverse; Living in a hell hole" %]

[% INCLUDE real_shlomif %]

[% END %]

[%- END -%]

[%- END -%]

[% PROCESS "Inc/rindolfism.tt2" %]
[% INCLUDE rindolfism_block %]

[% WRAPPER h2_section id = "rindolf_trivia" title = "Trivia" %]

<ul>

<li>
<p>
Rindolf the Dwarf’s cry of competence was “Me, Rindolf!” which is now also
echoed in the URL of this page - <code>/me/rindolf</code>.
</p>
</li>

<li>
<p>
Rindolf the Dwarf was nicknamed “Woman-hands” because his hands were as
delicate as a female dwarf.
</p>
</li>

<li>
<p>
Rindolf’s weapons of choice were <a href="http://www.dandwiki.com/wiki/SRD:Light_Pick">the pick</a>
and <a href="http://www.dandwiki.com/wiki/SRD:Shortbow">the shortbow</a>.
</p>
</li>

<li>
<p>
I later played Rindolf in a small game master+two players adventure, where he
sported much better abilities than the original character. After going through
the adventure and winning over all the enemies, Rindolf ended up wearing
a <a href="http://www.dandwiki.com/wiki/SRD:Helm_of_Opposite_Alignment">Helm
of Opposite Alignment</a> which made him convert from a “Neutral Good”
alignment to a Neutral Evil one, and he ended up killing his comrade for the
adventure.
</p>
</li>

<li>
<p>
Rindolf the Evil Reindeer is Norwegian, but he speaks in a French accent,
because I cannot emulate a Norwegian accent properly, and because French
is the language of love and “Love is Evil, and Evil is Love”.
</p>
</li>

<li>
<p>
On a Freenode chat we joked that "shlomif" was Rindolf's MoreEvil™ twin
brother.
</p>
</li>

<li>
<p>
We also joked that Rindolf the dwarf plays Shlomi Fish in an
Advanced 21st-Century Earth Adventures campaign.
</p>
</li>

<li>
<p>
Rudolph, Randolph, and Rindolf, are not a triplet, but rather twins. I
can't figure out how it works ( 😉 ).
</p>
</li>

</ul>

[%- END -%]

[% WRAPPER credits_sect %]

<ul>

<li>
<p>
Drawing of an evil reindeer taken from <a href="https://drawception.com/game/eydXpMGgOh/inception/">the "Inception" drawception page</a>
- found in a web search.
</p>
</li>

<li>
<p>
Picture of a dwarf with a pick taken from <a href="http://clockworkgods.wikia.com/wiki/Dwarf">the Clockwork Gods Wiki "Dwarf" page</a>.
</p>
</li>

<li>
<p>
Gandalf photo with caption provided by a Facebook friend of a friend.
</p>
</li>

<li>
<p>
<a href="https://en.wikipedia.org/wiki/Summer_Glau#mediaviewer/File:Summer_Glau_by_Gage_Skidmore.jpg">Summer Glau photo</a> taken from the English Wikipedia.
</p>
</li>

</ul>

[%- END -%]

[% END %]
