[%- SET title = "Shlomi Fish’s Stories" -%]
[%- SET desc = "Humorous large-scope stories and screenplays by Shlomi Fish: about Objectivism, Judaism, love/sex/romance and relationships, friendship, pleasure and pain, perfection by imperfection, strength, and beauty" -%]

[%- WRAPPER wrap_html -%]

[% INCLUDE active_humour_stories__intro  %]
[% PROCESS humour_stories_list_text no_stories_wrapper = 1  %]

[% PROCESS active_humour_stories__credits  %]

[% END %]
