[%- SET title = "Fan pages for online artists" -%]
[%- SET desc = "Fan pages for online artists -- TODO: ADD MORE" -%]

[%- WRAPPER wrap_html -%]

<ul>

<li>
<p>
<a href="chris-grimmie/">Christina Grimmie</a>
</p>
</li>

</ul>

[% END %]
