[%- SET title = "Fan pages for online artists" -%]
[%- SET desc = "Fan pages for online artists -- TODO: ADD MORE" -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "list" title = "The List" %]

[% WRAPPER h3_section href = "${base_path}philosophy/fan-pages/christina-grimmie/" id = "christina-grimmie" title = "Christina Grimmie" %]

[% END %]

[% END %]

[% END %]
