[%- SET title = "Emma Watson getting interviewed for a software developer job" -%]
[%- SET desc = "Does Emma Watson have what it takes to work as a Java enterprise software developer? A satire fan-fiction thought experiment." %]

[% main_class.addClass("side_toc") %]

[%- WRAPPER wrap_html -%]

[% WRAPPER intro %]

[% PROCESS emma_watson_intro  %]

<p>
Now the question is: does she have what it takes to work as a Java
<a href="http://en.wikipedia.org/wiki/Enterprise_software">enterprise
software</a> developer… ;-).
</p>

[% END %]

[% default_toc %]

[% path_slurp("screenplay-xml/rendered-html/Emma-Watson-applying-for-a-software-dev-job.html") %]

[% WRAPPER h2_section id = "reception" title = "What other people are saying" %]

<ul>

<li>
<p>
«I would not hire Emma Watson. She’d be good for employee morale, but she’d
also be too distracting.» - <b>osoleve</b> on Freenode’s ##programming.
</p>
</li>
<li>
<p>
«I think we would hire Emma Watson based on looks alone. ☺» — <b>glange</b>
on Freenode’s #objectivism.
</p>
</li>

</ul>

[% END %]

[% WRAPPER h2_section id="coverage" title="Coverage"%]

<ul>

<li>
<p>
<a href="http://www.mail-archive.com/linux-il@cs.huji.ac.il/msg65063.html">Linux-IL</a>
</p>
</li>

</ul>

[% END %]

[% WRAPPER h2_section id="links" title="Links"%]

[% WRAPPER h3_section id="links__EmWatson" title="Emma Watson Links"%]

<ul>

[% PROCESS emma_watson_common_links  %]
[% PROCESS emma_watson__see_also  %]

</ul>

[% END %]

[% WRAPPER h3_section id="links__software_dev" title="Software Industry Advocacy Links"%]

<ul>

<li>
<p>
<a href="http://shlomif-tech.livejournal.com/63020.html">“Getting Your Job
Ad Replied To”</a> - a blog post with a similar theme, with a joke called “The
Worst Job Offer Ever”.
</p>
</li>

<li>
<p>
<a href="http://fc-solve.blogspot.com/2010/03/01-april-2010-freecell-solver.html">“Announcing Freecell Solver™ Enterprise Edition”</a>
</p>
</li>

<li>
<p>
<a href="https://github.com/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition">FizzBuzz Enterprise Edition</a> - on GitHub.
</p>
</li>

</ul>

[% END %]

[% END %]

[% WRAPPER h2_section id="license" title="Copyright and Licence"%]

[% license_obj.by_sa_british_blurb( "year" => "2014", ) %]

[% END %]


[% END %]
