[%- SET title = "Uncomfortable Questions: Was the Death Star Attack an Inside Job?" -%]
[%- SET desc = "Uncomfortable Questions: Was the Death Star Attack an Inside Job? - Parody of conspiracy theories" -%]


[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "note" title = "Note" %]

<p>
This page was taken from
<a href="http://www.debunking911.com/questions.htm">the corresponding page
on Debunking 911</a>, which in turn was taken from the now defunct Websurdity
site. Feel free to mirror it.
</p>

[% END %]

[% WRAPPER h2_section id = "links" title = "Links" %]

<ul>

<li>
<p>
<a href="http://www.geekwire.com/2011/top-10-reasons-darth-vader-amazing-project-manager/">“Top 10 reasons why Darth Vader was an amazing project manager”</a>
</p>
</li>

<li>
<p>
<a href="http://www.geekwire.com/2011/terrible-teacher-mentor-top-10-reasons-yoda/">“Terrible Teacher and Mentor, Top 10 Reasons Yoda Was”</a>
</p>
</li>

<li>
<p>
<a href="https://www.youtube.com/watch?v=kFnFr-DOPf8&amp;google_comment_id=z124hzrqpxultz0i204cfl2oqoq5cfjr5hk">My
reflection on the “Fear leads to anger, anger leads to hate, hate leads to
suffering” quote</a> (as a YouTube comment).
</p>
</li>

<li>
<p>
<a href="http://en.wikipedia.org/wiki/Spaceballs"><i>Spaceballs</i></a> - an
incredibly funny Star Wars parody, and an insightful film full of subtlety in
its own right.
</p>
</li>
</ul>

[% END %]

[% WRAPPER h2_section id = "text" title = "Text" %]

<div class="death_star_frame lim_width limit_imgs_width page">
<div id="content">
<div class="post" id="post-64">
<p class="bold">
Conspiracy theorists will point
to "Star Wars" as a fictional movie version of
real events happening today. Someone was also
recently moved to satirically
show how conspiracy theorists work using Star
Wars as an example. This story has been edited by
<strong>
<a href="http://www.websurdity.com/">Websurdity</a>
and Debunking 9/11. </strong></p>
<hr />

[% WRAPPER h3_section id = "was_death_star" title = "Uncomfortable Questions: Was the Death Star Attack an Inside Job? [Edited by Debunking911]" %]

<div class="entrytext">
We’ve all heard the “official conspiracy
theory” of the Death Star attack. We all
know about Luke Skywalker and his ragtag
bunch of rebels, how they mounted a
foolhardy attack on the most powerful,
well-defended battle station ever built. And
we’ve all seen the video over, and over, and
over, of the one-in-a-million shot that
resulted in a massive chain reaction that
not just damaged, but completely obliterated
that massive technological wonder.<br />
<br />
Like many, I was fed this story when I was
growing up. But as I watched the video, I
began to realize that all was not as it
seemed. And the more I questioned the
official story, the deeper into the rabbit
hole I went.<br />
<br />
Presented here are some of the results of my
soul-searching regarding this painful event.
Like many citizens, I have many questions
that I would like answered: was the mighty
Imperial government really too incompetent
to prevent a handful of <b>untrained nerf-herders</b>
from destroying one of their most prized
assets? Or are they hiding something from
us? Who was really behind the attack? Why
did they want the Death Star destroyed? No
matter what the answers, we have a problem.<br />
<br />
Below is a summary of my book, <em>
Uncomfortable Questions: An Analysis of the
Death Star Attack</em>, which presents
compelling evidence that we all may be the
victims of a fraud of immense proportions.<p class="center">
<br />
<strong>Uncomfortable Questions about the
Death Star Attack</strong><br />
</p>
<div class="center">
<img alt="The cover of Uncomfortable Questions: An Analysis of the Death Star Attack" src="questions_files/questionsbook2.jpg" height="150" width="112" />
</div>
<p>
<br />
1) Why were a handful of rebel fighters able
to penetrate the defenses of a battle
station that had the capability of
destroying an <em>entire planet</em> and the
defenses to ward off several fleets of
battle ships?</p>
<p class="center">
<img alt="Death Star gun" src="questions_files/plans09.jpg" height="185" width="244" /><img alt="Death Star gun" src="questions_files/plans10.jpg" height="185" width="253" /><br />
The above photos show Death
Star defenses. Did they stand down?</p>
<p>
2) Why did Grand Moff Tarkin refuse to
deploy the station’s large fleet of TIE
Fighters until it was too late? Was he
acting on orders from somebody to not shoot
down the rebel attack force? If so, who, and
why?<br />
<br />
3) Why was the rebel pilot who supposedly
destroyed the Death Star reported to be <em>
on the Death Star</em> days, maybe hours,
prior to its destruction? Why was he allowed
to escape, and why were several individuals
dressed in <strong>Stormtrooper uniforms</strong>
seen helping him?<br />
<br />
4) Why has there not been an investigation
into allegations that Darth Vader, the
second-ranking member of the Imperial
Government, is in fact the <em>father</em>
of the pilot who allegedly destroyed the
Death Star?</p>
<p class="center">
<img alt="Luke Skywalker and Darth Vader" src="questions_files/david_prowse3.jpg" height="240" width="360" /><br />
Why didn't he arrest this
rebel when he had the chance?</p>
<p>5) Why did Lord Vader decide to break all
protocols and personally pilot a lightly
armored TIE Fighter? Conveniently, this
placed Lord Vader outside of the Death Star
when it was destroyed, where he was also
conveniently able to escape from a
large-sized rebel fleet that had just routed
the Imperial forces. Why would Lord Vader,
one of the highest ranking members of the
Imperial Government, suddenly decide to fly
away from the Death Star in the middle of a
battle? Did he know something that the rest
of the Imperial Navy didn’t? </p>
<p>In the video of the Death Star’s
destruction, Lord Vader clearly exclaims “I
have you now” then fires two shots. Those
shots never impact — anywhere. Were they
merely “added” to the “official” video after
the event to make it appear that Lord Vader
had at least attempted to fight off his
alleged son? </p>
<p class="center">
<img alt="Tie Fighter Cockpit" src="questions_files/tiecock2.jpg" height="281" width="502" /><br />
Onboard Camera shows the lone
rebel in Vader's sights but doesn’t pull the
trigger.<br />
</p>
<div class="center">
<img alt="Emperor Palpatine fails to act after being informed of the attack" src="questions_files/thepetbantha.jpg" height="245" width="199" /></div>
<p>
<br />
6) <b>Nerf-Herders defy the laws of physics?</b> How could any pilot shoot a missile into
a 2 meter-wide exhaust port, let alone a
pilot with no formal training, whose only
claim to fame was his ability to <b>
“bullseye womprats” on Tatooine</b>? This
shot, according to one pilot, would be <b>
“impossible, even for a computer.”</b> Yet,
according to additional evidence, the pilot
who allegedly fired the missile <b><em>
turned off</em> his targeting computer</b>
when he was supposedly firing the shot that
destroyed the Death Star. How did the
missile make a right angle turn after
entering the exhaust port? How could a
missile shot in the vacuum of space–that
would tend to keep going in the same
direction as it was released, according to
the laws of physics–be *sucked* into an
*exhaust* pipe? "Exhaust" means to exhale or
blow out... Wouldn’t the missiles have been
blown awry of their target rather than
sucked in? If it had been an intake pipe,
then the “bending” path of the missiles
could be plausible. Why have these
discrepancies never been investigated, let
alone explained?</p>
<p class="center">
Actual tactical computer
recording.</p>
<p class="center">
<img alt="Death Star’s plans"src="questions_files/plans17.jpg" height="240" width="320" /><br />
<br />
<img alt="Death Star’s plans"src="questions_files/plans18.jpg" height="240" width="320" /><br />
<br />
<img alt="Death Star’s plans"src="questions_files/plans19.jpg" height="240" width="320" /><br />
The Magic Missile Theory</p>
<p>7) Why has their been no investigation into
evidence that the droids who provided the
rebels with the Death Star plans were once
owned by none other than Lord Vader himself,
and were found, conveniently, by the pilot
who destroyed the Death Star, and who is
also believed to be Lord Vader’s son?
Evidence also shows that the droids were
brought to one Ben Kenobi, who, records
indicate, was Darth Vader’s teacher many
years earlier! Are all these personal
connections between the conspirators and a
key figure in the Imperial government
supposed to be coincidences?<br />
<br />
8) How could a single missile destroy a
battle station <em>the size of a moon</em>?
No records, anywhere, show that any battle
station or capital ship has <em>ever</em>
been destroyed by a single missile.
Furthermore, analysis of the tape of the
last moments of the Death Star show numerous
small explosions along its surface, prior to
it exploding completely! Why does all
evidence indicate that strategically placed
explosives, <em>not</em> a single missile,
is what destroyed the Death Star?</p>
<p class="center">
<img alt="Death Star exploding" src="questions_files/deathstar_jpg_w300h265.jpg" height="265" width="300" /></p>
<p class="center">How could this small
missile create an explosion this big?</p>
<p class="center">
<img alt="Death Star exploding" src="questions_files/donhenderson2.jpg" height="150" width="352" />
</p>
<p>9) Prior to the destruction of the Death
Star a smuggler named Captain Solo was
reportedly given a large sum of money. At a
crucial point in the battle, Captain Solo
had an unobstructed shot on his choice of
the fighters pursuing Skywalker, yet Solo
did not take advantage of this opportunity
to kill Darth Vader. Although Vader was in
the process of firing upon Skywalker's
X-wing, Solo attacked the defensive fighter
instead. In the aftermath, Vader escaped,
while Solo still had crates of money in his
cargo hold. Captain Solo eventually made his
way to the Bespin system, where he was seen
dining with none other than Vader, who was
reportedly obsessed with obtaining Captain
Solo's ship (and the money contained
therein). Solo's ship was then seen flying
into the super-structure of the second Death
Star, destroying it just after Vader was
able to get out (he was seen leaving a
shuttle piloted by none other than Luke
Skywalker). Yet through this whole sequence
of events, the money was never seen removed
from Solo's ship. Was it used to bribe Darth
Vader, who (allegedly) assassinated
Palpatine? Did anyone other than Vader and
Skywalker actually see Emperor Palpatine
die?</p>
<p>10 ) During pilot debriefing we learned
that Obi Wan was the one who told Luke to
turn off his targeting computer. He said he
was told by Obi Wan to "Let go" and "Trust
me". This is the same Obi Wan who was,
according to the official story,
killed after sabotaging the Death Star by
none other than Darth Vader BEFORE speaking
to Luke. His convenient death places him
inside the Death Star just before the
explosions on the surface occur. By faking
his death Vader would have given Obi Wan
time to plant explosives. The only evidence
of his death is his Jedi robe on
surveillance cameras. And even that can't be
found because they decided to conveniently
let the evidence burn in the planet
atmosphere. Also, why are there reports from Endor
that Lord Vader, Obi Wan and Yoda were seen together AFTER
their deaths? And who other than the Empire
has the capacity to fake their deaths? </p>
<p>11) Lord Vader executed an officer for
incompetence by allowing the rebels to
escape. He then orders another officer to
disable the Millennium Falcon's hyper drive.
The rebels once again escape using the <b>
disabled hyper drive</b>. Why was the
officer responsible for caring out Lord
Vader's order to disable the hyper drive not
executed? Why was he in fact given NO
disciplinary action what so ever? Why did
Lord Vader only disable the hyper drive? If
Lord Vader didn't want the rebels to escape,
why didn't he disable the ship entirely?</p>
<p>12) Why did the captain of the Imperial
Stardestroyer not fire upon the lifepod with
the droids carrying Death Star plans? The
"official story" says he didn't find the any
signs of life. He said "Hold your
fire. There are no life forms. It must have
been short-circuited." Why would he be
looking for life when it was electronic
plans he should have been looking for. Why
did he jump to the conclusion it was
"short-circuited". Is he a lifepod engineer?</p>
<p>How can all this be just incompetence and coincidence?
IMPOSSIBLE!</p>
<p>The most important question of all is why
would a shadowy group in the Empire want to
destroy such a technological wonder? Is it
an excuse to invade Hoth and steal their
oil; a planet which didn’t have anything to
do with the attacks. Or is it to take away
your religious freedoms to practice the dark
side of the force? As incredible as this
sounds it makes
more sense than the official story. </p>
<p class="center">
<a href="https://www.youtube.com/watch?v=55nQ00gSKC0">YouTube Link</a>
</p>
<p>The only way we will ever get answers to these
and other troubling questions is by voting
into the office those who will make an
investigation into the official story a
priority. Listen to the "Bombad General" of
Gungan. A whistleblower with connections to
Emperor Palpatine.</p>
<p class="center">
<img alt="JarJar Binkss" src="questions_files/JarJar.jpg" height="395" width="298" /></p>
<blockquote>
<p>Heyo-dalee, mesa yous humble servaunt
culled Jaja Binkss. Mesa wanna spake at
yous bout tis a long tale toll by dissa
big bosses. </p>
<p>Mesa day starten pitty okeyday witda
brisky morning munchen. Den boom.... before mesa knowen
it...pow! Mesa runnin tada senate. Nosir,
nosir. Mesa hate da senate. Dat's da last
ting mesa wanten. Wit no-nutten mula to
campaignin wit. </p>
<p>Trooperz do die'n without a fight?
Trooperz isa warriors! Dead Sta gotta grand
army. Dare-sa nobody dare. All gone.
Some kinda fight? Sorry, no trooperz...no trooperz. Dissen all pitty
odd to my... Wierdind... Mesa tink dissa nutsen!</p>
<p>Mesa need mooie mooie yousa mula ta
fightin wit da big bosses, okeyday?</p>
</blockquote>
<p>Donate now to the "Jar Jar Binkss for
Senator" campaign and the "Galaxy for Death
Star Truth". May the dark side of the force be with you.</p>
<p class="center">Also buy Darth Ray
Jones <br />
"The Truth about the Death Star" <br />
<img alt="The Death Star" src="questions_files/death_star.jpg" height="217" width="180" /><br />
Now sold in paperback</p><p class="center">
"Mesa need mooie, mooie mula!"</p><p class="center">
<b>"Debunking Death Star" debunks itself!
</b>
</p><p>
Says that Luke was born with the force then
says he was trained in the force. Which one
is it? Was he trained or was he born with
it?</p></div>

[% END %]

</div>
</div>
</div>

[% END %]

[% END %]
