[%- SET title = "Why Openly Bipolar People Should Not Be Medicated" -%]
[%- SET desc = "Why Openly Bipolar People Should Not Be Medicated" -%]
[%- SET more_keywords = "psychology, bipolar, depression, MDD, disorder, alan turing, turing, drugs, medication, therapy, psychiatry, mania, hypomania, Taylor Swift" -%]


[%- WRAPPER wrap_html -%]

[% slurp("dest/pre-incs/t2/philosophy/psychology/openly-bipolar.html") %]

<h2 id="credits">Credits</h2>

[% END %]
