[% SET BtVS = my_acronym( "key" => "BtVS", ) %]
[% SET FOSS = my_acronym( "key" => "FOSS", ) %]
[% SET IANAL = my_acronym( "key" => "IANAL", ) %]
[% SET IRC = my_acronym( "key" => "IRC", ) %]
[% SET MPAA = my_acronym( "key" => "MPAA", ) %]
[% SET RIAA = my_acronym( "key" => "RIAA", ) %]
[% SET SVG = my_acronym( "key" => "SVG", ) %]
