[%- BLOCK mailto_link_to_self -%]
<a href="mailto:[% email %]">[%- TRY -%][%- prefix -%][%- CATCH var.undef -%][%- END -%][% email %][%- TRY -%][%- suffix -%][%- CATCH var.undef -%][%- END -%]</a>
[%- END -%]

[%- BLOCK main_email_mailto -%]
[%- INCLUDE mailto_link_to_self email = main_email -%]
[%- END -%]
