[% BLOCK page_extra_head_elements %]
<script src="[% base_path %]js/jquery-ui/tot.js"></script>
<link rel="stylesheet" href="[% base_path %]js/jquery-ui/jquery-ui.min.css" media="screen"/>
<link rel="stylesheet" href="[% base_path %]jqui-override.css" media="screen"/>
<script>
$(function() {
    $(".jqueryui_tabs").tabs();
});
</script>
[% END %]
