[% BLOCK microsoft_making_it_all_make_sense %]

<p>
Microsoft’s slogan used to be “Microsoft - making it all make sense.”
</p>

<p>
It should have been: “Microsoft - making it all make sense. <b>Ours</b>.”
</p>

[% END %]
