[% BLOCK nav_blocks %]

<div class="nav_blocks">

<header>
<h2 id="nav_blocks">Navigation Blocks</h2>
</header>

[% content %]

</div>

[% END %]

[% BLOCK render_compact_nav_blocks %]

[% check_nav_blocks('names' => names) %]

[% WRAPPER nav_blocks %]

[% FOREACH navid IN names %]

[% print_nav_block ('name' => navid) %]

[% END %]

[% END %]

[% END %]
