[%- BLOCK project_euler_progress -%]
<p>
Solved 408
<a href="https://projecteuler.net/">Project Euler</a> problems, which only
0.051% of the participants, or about 1 out of 1,960, solved as many.
</p>
<p>
<img src="https://projecteuler.net/profile/shlomif.png" alt="Shlomi Fish’s Project Euler badge"/>
</p>
[%- END -%]
