[%- BLOCK project_euler_progress -%]
<p>
Solved 405
<a href="https://projecteuler.net/">Project Euler</a> problems, which only
0.04% of the participants, or about 1 out of 2,500, solved as many.
</p>
<p>
<img src="https://projecteuler.net/profile/shlomif.png" alt="Shlomi Fish’s Project Euler badge"/>
</p>
[%- END -%]
