[% BLOCK humour_bits__true_stories %]

[% SET section_element = "article" %]

[% FOREACH storyrec IN true_stories_obj.get_list() %]

[%# WRAPPER h3_section id = storyrec.id , href = (base_path _ storyrec.url) , title = (storyrec.title || storyrec.text) %]
[% WRAPPER h3_section id = storyrec.id , href = (base_path _ storyrec.url) , title = ( storyrec.text ) %]

[% storyrec.html %]

[% END %]

[% END %]

[% SET section_element = "section" %]

[% END %]
