[submodule "lib/repos/Shlomi-Fish-Back-to-my-Homepage-Logo"]
	path = lib/repos/Shlomi-Fish-Back-to-my-Homepage-Logo
	url = https://github.com/shlomif/Shlomi-Fish-Back-to-my-Homepage-Logo
[submodule "lib/repos/putting-cards-2021"]
	path = lib/repos/putting-cards-2021
	url = https://github.com/shlomif/putting-cards-2021
