[submodule "lib/repos/shlomif-ikiwiki-wiki"]
	path = lib/repos/shlomif-ikiwiki-wiki
	url = https://github.com/shlomif/shlomif-ikiwiki-wiki
[submodule "lib/repos/Shlomi-Fish-Back-to-my-Homepage-Logo"]
	path = lib/repos/Shlomi-Fish-Back-to-my-Homepage-Logo
	url = https://github.com/shlomif/Shlomi-Fish-Back-to-my-Homepage-Logo
[submodule "lib/repos/xslt10-stylesheets"]
	path = lib/repos/xslt10-stylesheets
	url = https://github.com/docbook/xslt10-stylesheets/
