/dest/
/include.mak
/lib/docbook/essays
/lib/docbook/indiv-nodes/
/lib/docbook/rendered/*.html
/lib/fortunes/xhtmls/*
/lib/make/docbook/sf-homepage-docbooks-generated.mak
/lib/prod-synd/music/include-me.html
/lib/screenplay-xml/rendered-html/*.html
/rules.mak
/t2/humour/fortunes/arcs-list.mak
/t2/humour/fortunes/fortunes-shlomif-0.10.185.tar.gz
/t2/humour/fortunes/fortunes-shlomif-all.atom
/t2/humour/fortunes/fortunes-shlomif-all.rss
/t2/humour/fortunes/fortunes-shlomif.spec
/t2/humour/fortunes/friends
/t2/humour/fortunes/friends.dat
/t2/humour/fortunes/joel-on-software
/t2/humour/fortunes/joel-on-software.dat
/t2/humour/fortunes/nyh-sigs
/t2/humour/fortunes/nyh-sigs.dat
/t2/humour/fortunes/osp_rules
/t2/humour/fortunes/osp_rules.dat
/t2/humour/fortunes/paul-graham
/t2/humour/fortunes/paul-graham.dat
/t2/humour/fortunes/shlomif
/t2/humour/fortunes/shlomif-fav
/t2/humour/fortunes/shlomif-fav.dat
/t2/humour/fortunes/shlomif.dat
/t2/humour/fortunes/source-files-list.html
/t2/humour/fortunes/subversion
/t2/humour/fortunes/subversion.dat
/t2/humour/fortunes/tinic
/t2/humour/fortunes/tinic.dat
/t2/humour/fortunes/ver.txt
