cache:
    directories:
        - $HOME/perl_modules
os: linux
dist: trusty
before_install:
    - sudo apt-get update -qq
    - sudo apt-get --no-install-recommends install -y ack-grep asciidoc build-essential cmake cpanminus dbtoepub docbook-defguide docbook-xsl docbook-xsl-ns fortune-mod hunspell inkscape myspell-en-gb libdb5.3-dev libgd-dev libhunspell-dev libncurses-dev libpcre3-dev libperl-dev mercurial myspell-en-gb lynx optipng perl python3 python3-setuptools python3-pip silversearcher-ag tidy valgrind wml xsltproc xz-utils zip
    - sudo dpkg-divert --local --divert /usr/bin/ack --rename --add /usr/bin/ack-grep
    - go get -u github.com/tdewolff/minify/cmd/minify
    - cpanm local::lib
    - eval "$(perl -Mlocal::lib=$HOME/perl_modules)"
    - cpanm Alien::Tidyp App::XML::DocBook::Builder Pod::Xhtml YAML::XS
    - cpanm --notest HTML::Tidy
    - cpanm Alien::TidyHTML5
    - (git clone https://github.com/robrwo/html-tidy5 && cd html-tidy5 && cpanm --installdeps . && perl Makefile.PL && make && make test && make install) && rm -fr html-tidy5
    # For wml
    - cpanm --notest Bit::Vector Class::XSAccessor GD Getopt::Long IO::All Image::Size Term::ReadKey
    # For quadp
    - cpanm --notest Class::XSAccessor Config::IniFiles HTML::Links::Localize
    - bash bin/install-git-cmakey-program-system-wide.bash 'git' 'src' 'https://github.com/thewml/website-meta-language.git'
    - bash bin/install-git-cmakey-program-system-wide.bash 'git' 'installer' 'https://github.com/thewml/latemp.git'
    - "cpanm $(perl -MYAML::XS=LoadFile -e 'print join q( ), sort {$a cmp $b} keys(%{LoadFile(q(bin/required-modules.yml))->{required}->{perl5_modules}})')"
    - gem install compass compass-blueprint
    - sudo -H `which python3` -m pip install beautifulsoup4 bs4 cookiecutter Zenfilter
    - a='latemp' ; v='0.10.0' ; b="$a-$v" ; arc="$b.tar.xz"; ( wget http://web-cpan.shlomifish.org/latemp/download/"$arc" && tar -xvf "$arc" && (cd "$b" && mkdir b && cd b && cmake .. && make && sudo make install) && rm -fr "$b" )
    - ( cd .. && git clone https://github.com/thewml/wml-extended-apis.git && cd wml-extended-apis/xhtml/1.x && bash Install.bash )
    - ( cd .. && git clone https://github.com/thewml/latemp.git && cd latemp/support-headers && perl install.pl )
    - ( cd .. && git clone https://github.com/shlomif/wml-affiliations.git && cd wml-affiliations/wml && bash Install.bash )
    - bash -x bin/install-npm-deps.sh
    - bash -x bin/install-tidyp-systemwide.bash
    - bash bin/install-git-cmakey-program-system-wide.bash 'git' 'installer' 'https://github.com/shlomif/quad-pres'
    - echo '{"amazon_sak":"invalid"}' > "$HOME"/.shlomifish-amazon-sak.json
    - ( cd "$HOME" && git clone https://github.com/w3c/markup-validator.git )
    - pwd
    - echo "HOME=$HOME"
    - bash -x bin/install-npm-deps.sh
    - sudo ln -s /usr/bin/make /usr/bin/gmake
script:
    - bash -x bin/run-ci-build.bash
