[%- SET title = "Muppets: With Jennifer Lawrence" -%]
[%- SET desc = "The Muppet Show hosts Jennifer Lawrence, star of The Hunger Games and Silver Linings Playbook." -%]
[%- SET apply_screenplay_style = 1 -%]

[%- WRAPPER wrap_html -%]

[% long_stories.calc_common_top_elems(id => 'muppets_show_tni', abstract_text => ("<p>" _ desc _ "</p>")) %]

[% path_slurp("screenplay-xml/rendered-html/Muppets-Show--Jennifer-Lawrence.html") %]

[% END %]
