[%- SET title = "Psychology Writings by Shlomi Fish" -%]
[%- SET desc = "Psychology Writings by Shlomi Fish" -%]

[%- WRAPPER wrap_html -%]

[% PROCESS "lib/Inc/essays_psychology.tt2" %]

[%- WRAPPER intro -%]

<p>
These are essays I wrote about psychology.
</p>

[% END %]

[% WRAPPER h2_section id = "articles" title = "The Articles and Essays" %]

[% INCLUDE psychology_essays_block %]

[% END %]

[% END %]
