[%- SET title = "Shlomi Fish’s Résumé as a Software Developer" -%]

[%- WRAPPER wrap_html -%]

<hr />

<div class="wrap-me">

<div class="center">

<h2>Shlomi Fish</h2>

<h2><a href="https://www.shlomifish.org/">https://www.shlomifish.org/</a></h2>

</div>

<ol class="cv_highlights">

<li>
<p>
Has over 140 distributions on CPAN (= the Comprehensive Perl Archive Network):
</p>

<ol>

<li>
<p>
<a href="https://metacpan.org/author/SHLOMIF">https://metacpan.org/author/SHLOMIF</a>
</p>
</li>

[% BLOCK remove_dead_link %]
<li>
<p>
<a href="http://perlresume.org/SHLOMIF">http://perlresume.org/SHLOMIF</a>
</p>
</li>
[% END %]

</ol>

</li>

<li>
<p>
Wrote and enhanced a solver for Freecell and related card games:
</p>

<ol>

<li>
<p>
<a href="https://fc-solve.shlomifish.org/">https://fc-solve.shlomifish.org/</a>
</p>
</li>

</ol>
</li>

<li>
<p>
Actively maintained a personal web site full of many resources, with a common
look and feel, close to 100% valid HTML code, and good usability.
</p>

<ol>

<li>
<p>
<a href="https://www.shlomifish.org/">https://www.shlomifish.org/</a>
</p>
</li>

<li>
<p>
<b>Current statistics</b>: 1,916 pages ; 3,123,046 words.
</p>
</li>
</ol>

</li>

<li>
[% PROCESS project_euler_progress  %]
</li>

</ol>
</div>

[% END %]
