[%- SET title = "Welcome to Linux - Networking in Linux" -%]
[%- SET desc = "The “Welcome to Linux” Presentation that explains networking in Linux and how to set it up. It was originally authored by Shachar Reindel.
" -%]


[%- WRAPPER wrap_html -%]

<p>
This is a <a href="http://welcome.linux.org.il/">“Welcome to Linux”</a>
Presentation that explains networking in Linux and how to set it up. It was
originally authored by Shachar Reindel.
</p>

<ul>
[% PROCESS eng_qp_lect %]
</ul>

[% END %]
