[%- SET title = "Index to Shlomi Fish’s Essays" -%]
[%- SET desc = "Index to Shlomi Fish’s Essays" -%]

[%- WRAPPER wrap_html -%]

[% PROCESS "Inc/faq.tt2" %]

[%- article_index__body() -%]

<hr />

<p>
Some related FAQs I co-maintain:
</p>

[% INCLUDE shlomif_faqs_links %]

[%- END -%]
