[% SET rtl_layout = "1" %]
[%- SET title = "בעד הלגליזציה של הסמים" -%]
[%- SET desc = "Why the so-called “War on Drugs” is the real drug problem, and why a legalisation of the currently illegal narcotics is the right solution." -%]

[%- WRAPPER wrap_html -%]

[% INCLUDE "pages/t2/philosophy/drug-legalisation.tt2" %]

<div class="main_text side_toc">

[% toc_div( "lang" => "he", ) %]

<p class="en">
<!--Creative Commons License-->
This work is licensed under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 Licence</a> (or at your option a greater version of it).
<!--/Creative Commons License-->
<!--
<rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
<license rdf:resource="http://creativecommons.org/licenses/by/2.5/" />
<dc:title>The Case for File Swapping</dc:title>
<dc:date>2005</dc:date>
<dc:description>An essay that explains why Internet File Swapping (using Peer-to-Peer networks, etc.) is not only moral and ethical, but also should be legal, and cannot be banned. Discusses other issues.</dc:description>
<dc:creator><Agent><dc:title>Shlomi Fish</dc:title></Agent></dc:creator>
<dc:rights><Agent><dc:title>Shlomi Fish</dc:title></Agent></dc:rights>
<dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
</Work>
<License rdf:about="http://creativecommons.org/licenses/by/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/></License></rdf:RDF>
-->
</p>

[% WRAPPER h2_section id = "itself" title = "The Article Itself" %]

[% WRAPPER h3_section id = "body" title = "Body" %]

[% path_slurp("docbook/5/rendered/case-for-drug-legalisation--hebrew-v3.xhtml") %]

[% END %]

[% END %]

[% WRAPPER h2_section id = "other_formats" title = "Other Formats" %]

[% WRAPPER h3_section id = "version_3" title = "3rd Version" %]

<ul>
<li>
<a href="case-for-drug-legalisation--hebrew-v3.xml">Original DocBook/XML</a>
</li>
</ul>

[% END %]

[% END %]

</div>

[% END %]
