[%- SET title = "The Case for Drug Legalisation" -%]
[%- SET desc = "Why illegal drugs should be legalised, and why the prohibition on drugs and the “war on drugs” are the real drug problem." -%]
[%- SET more_keywords = "drugs, drug, legalisation, legalization, legalise, legalize, narcotics, illegal, prohibition, prohibition on drugs" -%]

[%- WRAPPER wrap_html -%]

[% INCLUDE "pages/t2/philosophy/drug-legalisation.tt2" %]

<div class="fancy_sects main_text side_toc">

<p class="skip_to_main">
<a href="#itself"><b>Skip to the main content</b></a>
</p>

[% default_toc %]

[% WRAPPER h2_section id = "itself" title = "The Article Itself" %]

[% WRAPPER h3_section id = "body" title = "Body" %]

[% path_slurp("docbook/5/rendered/case-for-drug-legalisation-v3.xhtml") %]

[% END %]

[% PROCESS docbook_formats_w_base base = "case-for-drug-legalisation-v3", h2_id = "other_formats", h2_text = "Other Formats", %]

[% END %]

[% WRAPPER h2_section id = "prev_vers" title = "Previous Versions" %]

[% WRAPPER h3_section id = "revision_2" title = "2nd Revision" %]

<ul>
<li>
<a href="case-for-drug-legalisation-rev2.xml">Original DocBook/XML</a>
</li>
</ul>

[% END %]

[% WRAPPER h3_section id = "revision_1" title = "1st Revision" %]

<ul>
<li>
<a href="case-for-drug-legalisation.xml">Original DocBook/XML</a>
</li>
</ul>

[% END %]

[% END %]

</div>

[% END %]
