[%- SET title = "Quad-Pres - a tool for writing HTML presentations" -%]
[%- SET desc = "Quad-Pres - a tool for writing HTML presentations" -%]

[%- WRAPPER wrap_html -%]

<p>
<a href="http://www.shlomifish.org/quad-pres/">Quad-Pres</a> is a program for writing
HTML presentations. It is based on <a href="[% base_path %]open-source/projects/website-meta-language/">Website Meta
Language</a> and <a href="http://www.perl.org/">perl</a>.
</p>

[%- END -%]
