[%- SET title = "When C is the Best (Tool for the Job)" -%]
[%- SET desc = "Gives some reasons why the C language still has its place and explains when it should be used instead of other alternatives" -%]
[%- SET more_keywords = "C,best,tool for the job,java,perl,ANSI C,C++,high level,low level,programming,languages" -%]

[%- WRAPPER wrap_html -%]

[%- default_toc -%]

[% PROCESS "pages/t2/when-c-is-the-best.html.tt2" %]

[% INCLUDE when_c_best_html %]

[%- END -%]
