[%- SET title = "Essays about Open-Source Software" -%]
[%- SET desc = "Essays related to Free and Open Source Software by Shlomi Fish." -%]

[%- WRAPPER wrap_html -%]

[% PROCESS "Inc/foss_essays.tt2" %]

[%- WRAPPER intro -%]

<p>
Essays related to Free and Open Source Software.
</p>

[% END %]

[% WRAPPER h2_section id = "articles" title = "The Articles and Essays" %]

[% INCLUDE foss_essays__block %]

[% END %]

[% END %]
