[%- SET title = "“Well, I wrote it”" -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "text" title = "The Text" %]

<p>
At about year 2000, my arsenal of works of fiction consisted of
<a href="[% base_path %]humour/TheEnemy/"><i>The Enemy and How I Helped to Fight it</i></a>, which was written in Hebrew and which I had some hopes of publishing in books form.
</p>

[% END %]

[% END %]
