[%- SET title = "Interview with Adrian Ettlinger" -%]
[%- SET desc = "Interview with Adrian Ettlinger" -%]


[%- WRAPPER wrap_html -%]

[% path_slurp("screenplay-xml/rendered-html/ae-interview.html") %]

[% END %]
