[%- SET title = "Interview with Ben Collins-Sussman" -%]
[%- SET desc = "Interview with Ben Collins-Sussman" -%]

[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

[% INCLUDE "screenplay-xml/rendered-html/sussman-interview.html" %]

[% END %]
