[%- SET title = "Interview with Ben Collins-Sussman" -%]
[%- SET desc = "Interview with Ben Collins-Sussman" -%]

[%- WRAPPER wrap_html -%]

[% path_slurp("screenplay-xml/rendered-html/sussman-interview.html") %]

[% END %]
