[%- SET title = "Fencing with plastic hammers during the Israeli Independence Day." -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "text" title = "The Text" %]

<p>
During one of the Israeli Independence days, my high school friend
and I bought plastic noise-emitting hammers. Later that evening
</p>

[% END %]

[% END %]
