[%- SET title = "Fencing with plastic hammers during the Israeli Independence Day." -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "text" title = "The Text" %]

<p>
During one of the Israeli
</p>

[% END %]

[% END %]
