[%- SET title = "“Does he keep Kashruth?”" -%]
[%- SET desc = title -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "text" title = "The Text" %]

<p>
When I was in high school, my close family hosted a distant relative,
called Benjy from the U.S.A. who visited Israel.
</p>

[% END %]

[% END %]
