[%- SET title = "“Does he keep Kashruth?”" -%]
[%- SET desc = title -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "text" title = "The Text" %]

<p>
When I was in high school
</p>

[% END %]

[% END %]
