[%- SET title = "Software Management-Related Essays" -%]
[%- SET desc = "Software Management-Related Essays" -%]

[%- WRAPPER wrap_html -%]

[% PROCESS "Inc/sw_management_essays.tt2" %]

<p>
Essays related to software management - leading a team, managing projects,
managing employees, software engineering, etc.
</p>

<section class="h2">

<h2 id="articles-list">The Articles List</h2>

[% INCLUDE software_management_essays__block %]

</section>

[% END %]
