[%- SET title = "Selina Mandrake - The Slayer - Ongoing Text" -%]
[%- SET apply_screenplay_style = 1 -%]


[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

[% long_stories__calc_common_top_elems(id => 'selina_mandrake') %]



[% INCLUDE "screenplay-xml/rendered-html/selina-mandrake-the-slayer.html" %]

[% WRAPPER nav_blocks  %]

[% PROCESS star_trek_nav_block  %]
[% PROCESS harry_potter_nav_block  %]

[%- END -%]

[% END %]
