[% PROCESS "stories/selina-common.tt2" %]
[%- SET title = "Selina Mandrake - The Slayer (Buffy Parody) - Ongoing Text" -%]
[%- SET apply_screenplay_style = 1 -%]

[%- WRAPPER wrap_html -%]

[% long_stories.calc_common_top_elems(id => 'selina_mandrake') %]

[% path_slurp("screenplay-xml/rendered-html/selina-mandrake-the-slayer.html") %]

[% INCLUDE render_compact_nav_blocks names = ["buffy", "star_trek", "harry_potter", ] %]

[% END %]
