[%- SET title = "Who gets the final say?" -%]
[%- SET desc = "True story about asking people by the road about relationships" -%]
[%- SET more_keywords = "humour, humor, funny, story, web, fiction, web fiction, internet fiction" -%]

[%- WRAPPER wrap_html -%]

[% path_slurp("docbook/5/rendered/who-gets-the-final-say.xhtml") %]

[% END %]
