a.nav:link { font-size: x-large ; color: #003399 }
a.nav:visited { font-size: x-large ; color: #0077DD }
a.nav:active { font-size: x-large ; color: black }
a.nav:hover  { color: red }
h2.nav { font-size: medium ; color : #000055 ; font-style: italic }
b.nav { color : Black}
b.plain {color : Black}
i.orig { }
h1 { color: #000066 ; font-weight : bold }
a { color : #003399 }
a:visited { color : #0077DD }
a:hover { color : red }
body { background-color : #FFF8F0 ; font-color : black ; alink : black }
a.contents:active { color: red }
table.mycode { border-style : solid ; border-width : thin }
td.mycode { width : 60em }
table.mydemo { border-style : solid ; border-width : thin }
td.mydemo { width : 60em }
table.note { border-style : double ; border-width : 3}
h3.notbold { font-weight: normal }
font.menupath { font-family: monospace }
b.menupathcomponent { color: red }
font.menupathseparator { color: green }
tt.mycode { color : BlueViolet }

