[%- SET title = "Articles about E-mail Netiquette" -%]
[%- SET desc = "Articles about E-mail Netiquette - In-Reply-To, reply to list, etc." -%]

[%- WRAPPER wrap_html -%]

[% PROCESS "Inc/netiquette.tt2" %]

[% WRAPPER h2_section id = "the_articles" title = "The Articles" %]

[% INCLUDE email_netiquette_block %]

[%- END -%]

[% END %]
