[%- SET title = "Lecture about QuaD-Pres" -%]
[%- SET desc = "Lecture about QuaD-Pres" -%]


[%- WRAPPER wrap_html -%]

<p>
This is a meta-presentation about
<a href="http://wwww.shlomifish.org/quad-pres/">QuaD-Pres</a>, a
tool for creating HTML presentation slides. You can find the online slides
here and a self-contained source package that was used to generate it.
</p>

<ul>

[% PROCESS eng_qp_lect %]

</ul>

[% END %]
