[%- SET title = "Shlomi Fish’s Films’ Recommendations" -%]
[%- SET desc = "Shlomi Fish’s Films’ Recommendations" -%]

[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

[% INCLUDE "prod-synd/films/include-me.html" %]

[% END %]
