[%- SET title = "Shlomi Fish’s Films’ Recommendations" -%]
[%- SET desc = "Shlomi Fish’s Films’ Recommendations" -%]

[%- WRAPPER wrap_html -%]

[% path_slurp("prod-synd/films/include-me.html") %]

[% END %]
