[%- SET title = "Shlomi Fish’s True Stories / Memoirs" -%]
[%- SET desc = "TODO: FILL IN" -%]

[%- WRAPPER wrap_html -%]

<div class="bits_stories_list">

[% PROCESS "Inc/true_stories.tt2" %]
[% INCLUDE humour_bits__true_stories %]

</div>

[% END %]
