[%- SET title = "Situation Puzzles" -%]
[%- SET desc = "Situation Puzzles" -%]


[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

<p>
These are <a href="http://kith.org/logos/things/sitpuz/">situation
puzzles</a> (also known as Lateral Thinking Puzzles), I came up with.
</p>

<ol>
<li>
<a href="book-under-rock.html">A Book under a Rock</a>
</li>
</ol>

[% END %]
