[%- SET title = "Situation Puzzles" -%]

[%- WRAPPER wrap_html -%]

<p>
These are <a href="http://kith.org/logos/things/sitpuz/">situation
puzzles</a> (also known as Lateral Thinking Puzzles), I came up with.
</p>

<ol>
<li>
<p>
<a href="[% base_path %]puzzles/situation/book-under-rock.html">A Book under a Rock</a>
</p>
</li>
</ol>

[%- END -%]
