[%- SET title = "Selina Mandrake - The Slayer (Buffy Parody)" -%]

[%- PROCESS "stories/selina-common.tt2" -%]
[%- PROCESS "Inc/jqui_tabs.tt2" -%]
[%- WRAPPER wrap_html -%]

[% long_stories.calc_common_top_elems(id => 'queen_padme_tales') %]

[% WRAPPER nav_blocks  %]

[% PROCESS buffy_nav_block  %]
[% PROCESS star_trek_nav_block  %]
[% PROCESS harry_potter_nav_block  %]

[%- END -%]

[% END %]
