[% PROCESS "stories/selina-common.tt2" %]
[%- SET title = "Queen Padmé Tales: Pilot: Queen Amidala vs. the Klingon Warriors - Ongoing Text" -%]
[%- SET apply_screenplay_style = 1 -%]

[%- WRAPPER wrap_html -%]

[% long_stories.calc_common_top_elems(id => 'queen_padme_tales') %]

[% path_slurp("screenplay-xml/rendered-html/Queen-Amidala-vs-the-Klingon-Warriors.html") %]

[% WRAPPER nav_blocks  %]

[% PROCESS star_trek_nav_block  %]
[% PROCESS harry_potter_nav_block  %]

[%- END -%]

[% END %]
