[%- SET title = "Introductions" -%]
[%- SET desc = "Shlomi Fish introducing himself to various forums." -%]


[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

<p>
These are various introductions of myself that I presented
to various forums.
</p>

<ul>
<li>
<a href="writers/">An introduction to the MIT Writers Mailing List</a>
</li>
</ul>

[% END %]
