[% SET shlomif_lang = "en" %]
[%- SET title = "The Earth Angel - English Text" -%]
[%- SET desc = "The Earth Angel - English Text" -%]


[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

[% toc_div( ) %]

<p><b>By:</b> Shlomi Fish</p>

<h2 id="text">The Text</h2>

<div class="story">

<h3 id="the-story">The Text</h3>

[% path_slurp("docbook/5/rendered/The-Earth-Angel-english.xhtml") %]

</div>

[% END %]
