[% SET shlomif_lang = "en" %]
[%- SET title = "The Earth Angel - English Text" -%]
[%- SET desc = "The Earth Angel - English Text" -%]

[%- WRAPPER wrap_html -%]

[% default_toc %]

[% WRAPPER h2_section id = "text" title = "The Text" %]

<div class="story">

[% h_dec_path_slurp("docbook/5/rendered/The-Earth-Angel-english.xhtml") %]

</div>

[% END %]

[% END %]
