[%- BLOCK lang_switch -%]
<div class="lang_switch">
<ul>
<li class="title"><b>Switch Language</b></li>
<li class="lang"><a href="[% url_eng %]">English</a></li>
<li class="lang"><a href="[% url_heb %]">Hebrew (עברית)</a></li>
</ul>
</div>
[%- END -%]
