[%- SET multi_shlomif_lang = "en" -%]
[%- TRY -%][%- SET l = shlomif_lang -%][%- SET multi_shlomif_lang = l -%][%- CATCH var.undef -%][%- END -%]

[%- BLOCK en -%]
[%- IF multi_shlomif_lang == "en" -%][%- content -%][%- END -%]
[%- END -%]

[%- BLOCK he -%]
[%- IF multi_shlomif_lang == "he" -%][%- content -%][%- END -%]
[%- END -%]
