[%- SET title = "Software Quality Enhancement Tools and Links" -%]
[%- SET desc = "List of software quality enhancement tools and links" -%]


[%- WRAPPER wrap_html -%]

[% default_toc %]

<div class="software_build">

[% WRAPPER intro  %]

<p>
Quite a few people, including me, have been lamenting the
<a href="https://github.com/shlomif/shlomi-fish-homepage/blob/master/lib/notes/quality-software--followup-2018.md">poor
quality</a> of a lot of modern software applications. In order to do something constructive
to combat this, I decided to collect links to tools and other resources that can help
to enhance the quality of software.
</p>

[%- END -%]

[% WRAPPER h2_section id = "linters"  title = "Linters"  %]

<p>
<a href="https://en.wikipedia.org/wiki/Lint_(software)">linters</a> are programs
that statically analyse static source code for defects. Autoformatters format code
to conform to a certain <a href="https://en.wikipedia.org/wiki/Indentation_style">indentation
style</a>.
</p>

<ul>

<li>
<p>
<a href="https://github.com/caramelomartins/awesome-linters">"Awesome Linters" list on GitHub</a> -
a list for linters and autoformatters.
</p>
</li>

<li>
<p>
<a href="https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis">Wikipedia's List of tools for static code analysis</a>.
</p>
</li>

</ul>

[% WRAPPER h3_section id = "auto_formatters" title = "Code autoformatters"  %]

<ul>

<li>
<p>
<a href="https://github.com/prettier/prettier/">Prettier</a> - formats JavaScript,
TypeScript, JSON, CSS, SCSS, HTML, YAML, Markdown and other languages.
</p>
</li>

<li>
<p>
<a href="https://clang.llvm.org/docs/ClangFormat.html">clang-format</a> - for C,
C++, Objective C, JavaScript, Java, and C#.
</p>
</li>

<li>
<p>
<a href="http://perltidy.sourceforge.net/">Perltidy</a> - for Perl.
</p>
</li>

<li>
<p>
<a href="https://metacpan.org/pod/distribution/Code-TidyAll/bin/tidyall">tidyall</a> - an
all-in-one autoformatter and validator - with many backends.
</p>
</li>

<li>
<p>
<a href="https://github.com/collab-qa/check-all-the-things">check-all-the-things</a> - a tool
to run many individual checking tools. By the Debian project and other contributors.
</p>
</li>
</ul>

[% END %]


[% END %]

[% WRAPPER h2_section id = "profiler" title = "Profilers"  %]

<p>
Profilers are programs that report which parts of the code consume a lot
of time, memory or other resources, to allow for a more effective optimisation.
</p>

<ul>

<li>
<p>
<a href="https://en.wikipedia.org/wiki/List_of_performance_analysis_tools">Wikipedia's "List of performance analysis tools"</a>
</p>
</li>

<li>
<p>
<a href="https://metacpan.org/pod/Devel::NYTProf">Devel::NYTProf</a> - an advanced profiler for Perl 5.
</p>
</li>
</ul>

[% END %]

[% WRAPPER h2_section id = "mem_debuggers" title = "Memory Debuggers"  %]

<ul>

<li>
<p>
<a href="https://en.wikipedia.org/wiki/Memory_debugger">Wikipedia's List of Memory Debuggers</a>
</p>
</li>

<li>
<p>
<a href="https://valgrind.org/">valgrind</a> - an open source (GPLv2) memory debugger
for Linux, Solaris, Android and macOS.
</p>
</li>

<li>
<p>
<a href="https://en.wikipedia.org/wiki/AddressSanitizer">AddressSanitizer / ASAN</a> - an open
source add-on for GCC and clang. Reportedly runs faster than valgrind, but detects fewer errors.
</p>
</li>

<li>
<p>
<a href="https://github.com/DynamoRIO/drmemory">Dr. Memory</a> - open source.
</p>
</li>

</ul>

[% END %]

[% WRAPPER h2_section id = "fuzzers" title = "Fuzzers" %]

<ul>

<li>
<p>
<a href="https://www.blackarch.org/fuzzer.html">List of Fuzzer tools</a> - by the
Black Arch Linux distribution.
</p>
</li>

<li>
<p>
<a href="https://en.wikipedia.org/wiki/Fuzzing">Fuzzing Wikipedia Page</a>
</p>
</li>

</ul>

[% END %]

[% WRAPPER h2_section id = "text-checkers" title = "Checkers for invalid text"  %]

<ul>

<li>
<p>
<a href="https://metacpan.org/pod/Test::TrailingSpace">Test::TrailingSpace</a> - ascertain
there are no text files with trailing whitespace, and optionally no hard tabs, and
no DOS-style <a href="https://en.wikipedia.org/wiki/Newline">newlines</a>. (By me).
</p>
</li>

<li>
<p>
<a href="https://metacpan.org/pod/Test::NoTabs">Test::NoTabs</a> - detect hard tabs
(<code>'\t'</code>); mostly only for perl code.
</p>
</li>

<li>
<p>
<a href="https://metacpan.org/pod/Test::EOL">Test::EOL</a> - test for DOS-style
newlines, and trailing whitespace; mostly only for perl code.
</p>
</li>

<li>
<p>
<a href="https://metacpan.org/release/File-Find-CaseCollide">File-Find-CaseCollide</a>
- find collisions in filenames, differing only in case (for avoiding problems on
case-insensitive filesystems such as <a href="https://en.wikipedia.org/wiki/File_Allocation_Table">FAT</a>).
</p>
</li>

</ul>

[% END %]

[% WRAPPER h2_section id = "proof-assistants" title = "Proof Assistants / Interactive Theorem Provers"  %]

<p>
Allows one to prove the correctness of code, thus reducing the list of defects.
</p>

<ul>

<li>
<a href="https://en.wikipedia.org/wiki/Proof_assistant">Wikipedia's List of proof assistants</a>
</li>

</ul>

[% END %]

[% WRAPPER h2_section id = "refactoring-tools" title = "Automated Refactoring" %]

<ul>

<li>
<p>
<a href="https://en.wikipedia.org/wiki/Code_refactoring#Automated_code_refactoring">Wikipedia’s list of automated refactoring tools</a>
</p>
</li>

</ul>

[% END %]

[% WRAPPER links_sect  %]

<ul>

<li>
<p>
<a href="http://perlhacks.com/2012/03/you-must-hate-version-control-systems/">“You
Must Hate Version Control Systems”</a> - a post on the “Perl Hacks” blog about
best practices in the software industry.
</p>
</li>

</ul>

[%- END -%]

[% WRAPPER see_also %]

<ul>

<li>
<p>
<a href="[% base_path %]open-source/resources/software-tools/">List of
Software Build and Management Tools</a>
</p>
</li>

<li>
<p>
<a href="[% base_path %]open-source/resources/editors-and-IDEs/">List of
Text Editors and IDEs</a>
</p>
</li>

<li>
<p>
<a href="https://github.com/shlomif/Freenode-programming-channel-FAQ/blob/master/FAQ_with_ToC__generated.md">The
Freenode's ##programming chat-room FAQ</a> - provides answers and links to many questions.
</p>
</li>

<li>
<p>
<a href="[% base_path %]philosophy/computers/high-quality-software/rev2/">What makes software high-quality?</a> - an
essay.
</p>
</li>

</ul>

[% END %]

</div>

[% PROCESS cc_by_nc_sa_licence_section "year" => "2020",  %]

[% END %]
