[%- SET title = "Media Recommendations by Shlomi Fish" -%]
[%- SET desc = "Media Recommendations by Shlomi Fish" -%]


[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

<h3 id="films"><a href="films/">Films</a></h3>

<p>
Recommendations of films.
</p>

[% END %]
