[%- SET title = "Welcome to Linux - Blitz Lecture (in Hebrew)" -%]
[%- SET desc = "The so-called “Blitz” lecture that provides an encompassing
introduction to Linux for beginners in Hebrew." -%]


[%- WRAPPER wrap_html -%]

<p>
This is the so-called “Blitz” lecture that provides an encompassing
introduction to Linux for beginners in Hebrew.
</p>

<ul>
[% PROCESS qp_lect dir = "slides",  %]
</ul>

[% END %]
