[%- SET title = "Showing the rented apartment to a hot girl" -%]
[%- SET desc = "A true story about showing the rented apartment to a hot girl" -%]
[%- SET emwatson_url = "${base_path}meta/nav-blocks/blocks/#harry_potter_nav_block" -%]

[%- WRAPPER wrap_html -%]

<p>
When I was studying in the Technion, I corented a nearby apartment along
with two other roommates. They decided to move after the first year and
so we were looking for new housemates.
</p>

<p>
One girl who came to see the apartment:
</p>

<ol>

<li>
<p>
Was thin, but not underweight.
</p>
</li>

<li>
<p>
Had a beautiful face reminiscent
of <a href="https://duckduckgo.com/?q=gabrielle+anwar&amp;atb=v140-1&amp;iax=images&amp;ia=images">Gabrielle Anwar</a>.
</p>
</li>

<li>
<p>
Wore a black <a href="https://en.wikipedia.org/wiki/Sports_bra">sports bra</a>
as a top.
</p>
</li>

<li>
<p>
Had blonde hair.
</p>
</li>

<li>
<p>
Said she was going to study <a href="https://www.shlomifish.org/meta/FAQ/#what_did_you_study">Electrical Engineering</a>.
</p>
</li>
</ol>

<p>
So she looked incredibly hot. I showed her the apartment, and
answered her questions while being infatuated with her. I wasn't at my best
element.
</p>

<p>
Later on, after I described her to one of the departing housemates, who
was supposed to meet her next, he said "I'm going to await her…".
</p>

[% END %]
