[%- SET title = "Star Trek fan‐fiction by Shlomi Fish" -%]
[%- SET desc = "Star Trek fan‐fiction by Shlomi Fish" -%]

[%- WRAPPER wrap_html -%]

<p>
This page contains a list of Star-Trek fan‐fiction by Shlomi Fish.
</p>

[% WRAPPER h2_section id = "stories" title = "The Stories" %]

[% WRAPPER h3_section href = "We-the-Living-Dead/" id = "we_the_living_dead" title = "<i>We, the Living Dead</i>" %]

[% long_stories.calc_abstract(id => 'we_the_living_dead') %]

[% END %]

[% END %]

[% END %]
