[%- SET title = "Perl Lightning Talk - Test::Run" -%]
[%- SET desc = "Perl Lightning Talk - Test::Run" -%]


[%- WRAPPER wrap_html -%]

<h2><a href="slides/">The Slides</a></h2>

<h2>Introduction</h2>

<p>
This is a lightning presentation about Test::Run - a new and improved test
harness for <a href="http://www.perl.org/">Perl</a>.
</p>

<h2>Updates</h2>

<ol>
<li>
<p>
<a href="updates/2006-05-09/">Update from 9-May-2006</a>
</p>
</li>
</ol>

[% END %]
