.navbar, .menu_floaty, .menu_floaty .sub_menu, .banner,
.leading_path, .invisible, .page_toc, .wishlist_notice, .lang_switch,
.bt_nav, img[alt="Back to my Homepage"], p.share
{
    display: none;
}
.hebrew
{
    direction:rtl;
    text-align:right;
}
