[%- SET title = "Freecell Solver - Project Introduction" -%]
[%- SET desc = "A small presentation that introduces the Freecell Solver project to people who may be interested in contributing to it." -%]


[%- WRAPPER wrap_html -%]

<p>
This is a small presentation that introduces the Freecell Solver project
to people who may be interested in contributing to it.
</p>

<ul>

[% PROCESS eng_qp_lect %]

<li>
<p>
<a href="Summary.txt">Summary (plain-text)</a>
</p>
</li>

</ul>

[% END %]
