a:hover, img.highlight:hover { background-color : LightGreen }
td.navbar 
{ 
    background-color: moccasin;  
    width : 20%;
    padding-right : 1em;
}
p.desc { margin-left : 3em }
ul.navbarmain { padding-left : 1em ; margin-left : 1em }
ul.navbarnested { padding-left : 0em ; margin-left : 2em }
h3.newsitem { text-indent: 3em }
p.newsitem { margin-left : 6em }
div.indent { margin-left : 3em }
p.indent { margin-left : 3em  }
div.rightalign { text-align : right }
/*
    Make sure the links inside the navigation bar are highlited
    with a different colour. That's CSS 2.
    http://www.zvon.org/xxl/CSS2Tutorial/Examples/example3.html
*/

table.shlomif { border-width : 1 ; border-color : black }
table.shlomif td { vertical-align : top ; align : left }
td.main 
{
    padding-left : 1em;
}
ul.noindent { margin-left : 0em }
div.center { text-align: center }
table.center { margin-left : auto ; margin-right : auto }
table.cv { width : 100% ; border : none ; }
table.cv td { vertical-align : top }
ul.nospace
{
    margin-top : 0em;
    margin-bottom : 0em;
}
