:link:hover, :visited:hover, img.highlight:hover 
{ 
    background-color : #90EE90; /* LightGreen */
}
.navbar 
{ 
    float : left;
    background-color: #FFE4B5; /* moccasin */
    width : 20%;
    padding-right : 1em;
    padding-top : 1.5em;
    padding-left : 1em;
    padding-bottom: 2em;
}
.navbar ul
{
    font-family: sans-serif;
    font-size : small;
    margin-left : 0.3em;
}

.nav_links
{
    text-align: center;
    padding-left : 0em;
    padding-top : 0em;
}
.nav_links li
{
    display: inline;
    list-style-type: none;
    padding-right: 0.2em;
    padding-top: 0em;
}

p.desc { margin-left : 3em }
ul.navbarmain { padding-left : 1em ; margin-left : 1em }
ul.navbarnested { padding-left : 0em ; margin-left : 2em }
h3.newsitem { text-indent: 3em }
p.newsitem { margin-left : 6em }
ol.newsitem { margin-left : 6em }
div.indent { margin-left : 3em }
p.indent { margin-left : 3em  }
div.rightalign { text-align : right }
/*
    Make sure the links inside the navigation bar are highlited
    with a different colour. That's CSS 2.
    http://www.zvon.org/xxl/CSS2Tutorial/Examples/example3.html
*/

.main 
{
    padding-left : 1em;
    margin-left : 25%;
}
.main img
{
     margin-right: 1em;
}

ul.noindent { margin-left : 0em }
div.center { text-align: center }
table.center { margin-left : auto ; margin-right : auto }
table.cv { width : 100% ; border : none ; }
table.cv td { vertical-align : top; }
ul.nospace
{
    margin-top : 0em;
    margin-bottom : 0em;
}
.colored_frame
{
    background-color : #F8FF98;
    border-color : black;
    border-width : medium;
    border-style : double;
    padding : 0.5em;
}
/* This is for the leading path at the top. */
.leading_path
{
    background-color : #80d000;
    margin-bottom: 0.2em;
    padding-left: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
    margin-right: 10pt;
}
.leading_path a:visited
{
    color : #FFFF00;
}
.leading_path a:hover
{
    background-color : #FFA500; /* orange */
}
/* Border-less */
.bless
{
    border : none;
}
.footer {
    clear : both;
    margin-right : 30px;
    padding-top: 0.5em;
}
/* Workaround to get the <hr /> element at the bottom to properly display 
   with Konqueror 3.3.x
   */
.footer hr
{
    width:100%;
    clear:both;
}

