[%- SET title = "Computer Science Amusements" -%]

[%- WRAPPER wrap_html -%]

[%- WRAPPER h2_section href = "lotg/" id = "lotg-code" title = "The “Lotg” Code" -%]

<p>
A minimalistic pseudocode I designed.
</p>

[%- END -%]

[%- END -%]
