[%- SET title = "The Case for File Swapping - Revision 3 - Text" -%]
[%- SET desc = "The Case for File Swapping - Revision 3 - Text" -%]

[%- WRAPPER wrap_html -%]

<div class="side_toc fancy_sects">

[% default_toc %]

<h2 id="itself">The Article Itself</h2>

<h3 id="itself3">Article</h3>

[% path_slurp("docbook/5/rendered/case-for-file-swapping-rev3.xhtml") %]

<h2 id="coverage">Coverage</h2>

<p>
<b>TODO:</b> fill in.
</p>

</div>

[% END %]
