[%- SET title = "Articles about Netiquette" -%]
[%- SET desc = "Articles about Netiquette - The Proper Internet Behaviour" -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section id = "sections" title = "Sections" %]

[% WRAPPER h3_section href = "email/" id = "email_netiquette" title = "Email Netiquette" %]

[% END %]

[% END %]

[% END %]
