[%- SET title = "Project Euler Solutions" -%]
[%- SET desc = "Project Euler Solutions by Shlomi Fish" -%]


[%- WRAPPER wrap_html -%]

<p>
I’m keeping most of my solutions to
<a href="https://en.wikipedia.org/wiki/Project_Euler">Project Euler</a> in
a <a href="https://github.com/shlomif/project-euler">version
control repository</a>.
</p>

<h2 id="progress">Progress</h2>

[% PROCESS project_euler_progress  %]

[% END %]
