[%- SET title = "Essays about the World-Wide-Web (WWW)" -%]
[%- SET desc = "Essays about the World-Wide-Web (WWW)" -%]

[%- WRAPPER wrap_html -%]

[% PROCESS "Inc/web_essays.tt2" %]

[% default_toc %]

[% WRAPPER h2_section id = "articles" title = "The Articles and Essays" %]

[% INCLUDE web_essays__block %]

[% END %]

[% END %]
