/*
Software Build Tools specific stylesheet
*/
.software_build ul
{
    margin-left: 0;
    padding-left: 0;
}
.software_build li
{
    margin-left: 0;
    margin-bottom: 1em;
    list-style-position: inside;
}


