[%- SET title = "Reddit “Ask Me Anything” (“IAmA…AMA”) Interviews with Me" -%]
[%- SET desc = "Reddit Interviews of Shlomi Fish" -%]

[%- WRAPPER wrap_html -%]

[% WRAPPER h2_section href = "http://www.reddit.com/r/IAmA/comments/2g7xf4/iama_shlomi_fish_aka_rindolf/" id = "iama_2014_09_12" title = "2014-09-12 (12 September 2014)" %]

<p>
Ask questions on that page after registering to reddit.com and I will try
to answer them.
</p>

[% END %]

[% END %]
