[% SET rtl_layout = "1 " %]
[%- SET title = "”אנושות“ - הסרט - תרגום לעברית" -%]
[% SET desc="אנושות הנו תסריט לסרט שמהווה פרודיה על האנושות ועל החיים המודרניים בפרט." %]
[%- SET apply_screenplay_style = 1 -%]

[%- WRAPPER wrap_html -%]

[% long_stories.calc_common_top_elems(id => 'humanity') %]

<h2 id="text">הטקסט של התסריט</h2>

[% path_slurp("screenplay-xml/rendered-html/Humanity-Movie-hebrew.html") %]

<div class="english">
[% PROCESS humanity_licensing  %]
</div>

[% END %]
