<s id="He-Damsel-in-Distress-and-a-Distressing-Damsel" lang="en" title="He-Damsel-in-Distress and a Distressing Damsel">

<s id="about" title="About this screenplay">

<s id="about-objective" title="Objective">

[

He-Damsel-in-Distress and a Distressing Damsel

]

</s>

</s>

<s id="He-Damsel-in-Distress-and-a-Distressing-Damsel-wrapper" title="Wrapper">

<s id="killing-shlomif" title="Killing Shlomi Fish">

[ Television News Station ]

News Anchor: This night, Shlomi Fish’s bedroom in his apartment in
<a href="https://www.shlomifish.org/philosophy/culture/multiverse-cosmology/#ramatavivgimel">Ramat Aviv Gimel, Tel Aviv</a> was detonated taking Fish’s life. Tiffany Alvord, who is a singer, musician, song-writer, actress, and creator, and whom Fish has featured in some of his recent fan-fiction works, and admitted to have been infatuated with, has claimed responsibility for that bombing.

+++: Ms. Alvord had previously published a blog post criticising the fact that Fish has admitted to liking or even loving many entities <a href="https://www.shlomifish.org/meta/FAQ/">on his Frequently-Asked-Questions List (“FAQ”)</a>. Moreover, she recorded and uploaded a video:

[

On the video:

]

Tiffany Alvord: I cannot see how Shlomi can be a good boyfriend while having
so many polyamorous love recipients. If I cannot have 100% of his time, soul,
mind, love, and knowledge [ <a href="https://www.shlomifish.org/philosophy/culture/multiverse-cosmology/#the-game">Reference: TheGameOfSuckers™ of Fantastecha™</a> ] … then no one can have him at all!

Tiffany Alvord: muah hah hah hah… [Devilish sound+visual effects.]

</s>

<s id="enforcing-fantastechan-fidelity" title="Enforcing Fantastechan Fidelity">

[

The screen becomes noisy, like an old-school / analogue television, and then
<a href="https://muppet.fandom.com/wiki/Sam_the_Eagle">Sam the Eagle</a>
(Muppets) is shown holding some paper pages.

]

Sam the Eagle: Greetings all observers! We have found Ms. Alvord’s expectations
to be incompatible with the implementation of these concepts in Fantastecha™
— as well as common logic, reason, and mathematical knowledge. Moreover, her retaliated
assassination attempt violates common Multiversal and Universal ethics,
as well as the ethical and moral codes of <a href="https://en.wikipedia.org/wiki/Israel">the modern State of Israel</a>, <a href="https://en.wikipedia.org/wiki/Gush_Dan">Gush Dan</a>, and <a href="https://www.shlomifish.org/philosophy/culture/multiverse-cosmology/#ramatavivgimel">Ramat Aviv Gimel</a>.

[ Sam thinks for a moment about what he just said, and then forward-scans and back-scans his paper sheets. ]

Sam: who wrote this speech?!

Sam: anyway, to elaborate, it is unreasonable for a Fantastechan entity to receive a flat 100% of the soul, mind, love, or knowledge, of a Fantastechan hacker, given they often think of themselves or other 3rd-party entities.

Sam: Moreover, there is an expectation that a Fantastechan entity which has a mind and a soul, will not lose the soul, the mind, or their union.

Sam: as a result, the Foundation For Fantastecha™n Functional Fidelity (= or
“The Quintuple-F”) has intervened and rewrote the plot.

Sam: however, since we could not completely void the story out of problems ( <a href="https://www.shlomifish.org/humour/image-macros/#One-does-not-Simply-start-a-story-with-And-they-all-lived-happily-ever-after">Reference</a> ), we ended up with the following plot instead:

Sam: shortly after Ms. Alvord wrote the complaint about Fish’s love-interests, the universal security community was informed about her obsession. Meanwhile, Alvord rushed out of her bedroom, while intending to assassinate Shlomi, but slipped, and fell down the stairs. Despite her background in gymnastics, and physical fitness ( References: <a href="https://www.youtube.com/watch?v=3G2z-FA0-AQ">Gymnastics</a> ;
<a href="https://twitter.com/TiffanyAlvord">@TiffanyAlvord terrestrial twitter</a> ), she fell on her head and lost consciousness.

Sam: the medics who arrived shortly after that, were able to restore her to consciousness, and her mind seems to be sharp and rational. However, she has also suffered from other injuries, and is expected to be hospitalised for several months.

</s>

<s id="shlomif-videoconf-with-tiffany" title="Shlomi Fish talking with Tiffany Alvord on video conference">

[

Split frame with Shlomi Fish talking to Tiffany Alvord on video conference,
with Sam the Eagle observing.

]

Shlomi Fish: oh, God, Tiffany! Is everything OK? How do you feel?

Tiffany Alvord: well, I feel some physical pain in some limbs. Otherwise, I
feel relieved knowing that you and I and everybody else are or will be OK.
I will probably have to stay here in the hospital for some time.

Shlomi Fish: I see. Do you need money? Time? I'm not sure I'll be of much help in the hospital, given I don't even know <a href="https://en.wikipedia.org/wiki/Cardiopulmonary_resuscitation">CPR</a>, much less am a qualified medic, nurse, or a medical doctor.

Tiffany Alvord: No, the hospital is quite well-staffed, and my family and I have enough money, given my success as an entertainer.

Tiffany Alvord: However, I'd appreciate it if you, or any other fan of mine, will monitor my <a href="https://www.shlomifish.org/meta/FAQ/do_people_still_use_irc.xhtml">IRC</a> channel. One can use some plugins/scripts to follow its activity without joining it, only to join when you feel you have something to contribute to the conversation. I tweeted about it.

Shlomi Fish: thanks! I retweeted it now.

Tiffany Alvord: thanks! Anyway, as bitch-like as it sounds, I think that was
a signal from our God [ Reference: <a href="https://www.shlomifish.org/philosophy/culture/multiverse-cosmology/#TheCodex-definition-of-God">Definition of “God”</a> ], that you and I should not be a couple. So, while I still like/love many of your works, and I'm still attracted to you, I've been falling out-of-love with you.

Shlomi Fish: works for me, Tiff! I should note that while I've been infatuated with you recently, and I've featured you, or roles that I wanted you to play, in some recent works of mine, I still haven't quite romantically fallen in love with you yet.

Shlomi Fish: anyway, I hope you have a thorough recovery, and hopefully one that will be as quick as possible. I am grateful for the Quintuple-F for making sure our and everyone else's souls and minds are intact. After you (hopefully) recover, you shouldn't have a problem finding prospective dates, given men will kill to be your boyfriend. TheCodex™ defines "to kill" as to win over someone/something in a game or contest. Any game or contest.

Shlomi Fish: I also know you have enough love and anti-perfectionism and compassion, to be lenient enough to forego minor imperfections. [ References: <a href="https://www.shlomifish.org/humour/bits/true-stories/my-first-kiss/">Shlomi Fish’s story of his first kiss: “my type of girls“</a>. ]

Tiffany Alvord: thanks, Shlomi. I also appreciate the fun I had in playing the roles you intended for me in some of your latest screenplays, as well as the publicity and money.

Shlomi Fish: great. Bye, Tiffany! keep the Faith, go forth and multiply-dash-lang-dot-org, hail Fluttershy, peace upon the land, and good will among men, live long and prosper, etc. etc.

Tiffany Alvord: [laughing] bye, Shlomi.

</s>

<s id="shlomif-videoconf-with-Sam-the-Eagle" title="Shlomi Fish talking with Sam The Eagle">

Shlomi Fish: Sam, you know? I used to look down on you given your obsession
with trying to keep high standards of "morality" and "decency" in your roles
within the "Muppets" universes. But I admit the "Foundation For Fantastecha™n
Functional Fidelity" just did a commendable service to our universe's (and
others'?) fairies.

Sam: why, thank you, Mr. Fish.

Shlomi Fish: as a token of our appreciation, Tiffany and I have made the FFFFF
more famous by donating 1,000 USD each and publicly blogging about it on our
Twitter and Facebook accounts.

Sam: Well, while the Foundation For Fantastecha™n Functional Fidelity accepts
tax-deductible donations, it by no means encourages fame mongering.

Shlomi Fish: while I admit that one can overdo fame mongering, I think becoming
famous is better than becoming rich. If you are famous (and you are not a
vampire who is living in a terrestrial hell), you'll likely find several, often
complementary to become richer. Like
<a href="https://www.shlomifish.org/humour/fortunes/show.cgi?id=greatest-threat-to-authors">Tim O'Reilly noted</a>: <q>The greatest threat to authors and creative artists is not piracy — it’s obscurity.</q>.

Shlomi Fish: or as <a href="https://en.wikipedia.org/wiki/Ecclesiastes">Ecclesiastes</a> had written that "reputation is better than fine oil", around 300 B. C..

</s>

<s id="credits" title="Image Credits">

[

*
<a href="https://www.shlomifish.org/meta/FAQ/#evilphish-emblem">EvilPHish emblem by UserFriendly.org</a>

* Drawing of an evil reindeer taken from <a href="https://drawception.com/game/eydXpMGgOh/inception/">the "Inception" drawception page</a> - found in a web search.

]

</s>

<s id="license" title="Licence">

[

Emblem: <img src="images/evilphish-svg--facing-right.min.svg.png" alt="Shlomi Fish’s EvilPHish Emblem" />

This text is Copyright by <a href="https://www.shlomifish.org/">Shlomi Fish</a>, 2024 and is
made available under the
<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
Attribution Noncommercial Share-Alike 4.0 Unported Licence (CC-by-nc-sa)</a>
(or at your option - any later version).

]

</s>

<s id="dedication" title="Dedication">

[

Dedication

]

</s>

</s>

</s>
