[%- SET title = "Problem Sets and Competitive Programming Sites" -%]
[%- SET desc = "Shlomi Fish’s activity on Problem Sets and Competitive Programming Sites" -%]


[%- PROCESS "blocks.tt2" -%]
[%- WRAPPER wrap_html -%]

<h2 id="intro">Introduction</h2>

<p>
See <a href="https://github.com/EbookFoundation/free-programming-books/blob/master/problem-sets-competitive-programming.md">this page</a>.
</p>

<h2 id="euler"><a href="project-euler/">Project Euler</a></h2>

[% END %]
