[%- SET title = "Rindolfism - Shlomi Fish’s Personal Philosophy" -%]
[%- SET desc = "Rindolfism - Shlomi Fish’s Personal, Dynamic, Philosophy (but don't be a rindroid)" -%]

[%- WRAPPER wrap_html -%]

[% BLOCK rindolf_floaty_img %]
<a href="[% href %]"><img src="[% src %]" alt="[% alt %]" title="[% title %]" class="rindolf" /></a>
[% END %]

<div class="side_toc fancy_sects lim_width">

[% PROCESS "Inc/rindolfism.tt2" %]

[% INCLUDE rindolfism_block %]

</div>

[% END %]
