[% SET desc = "Selina Mandrake - The Slayer (Buffy Parody) - a geeky Anglo-American high school senior in 2011 California discovers she is none other than the legendary heroine “The Slayer”, who is destined to slay many notable demons." %]
[% SET more_keywords = "buffy, female geeks, vampires, story, novella, humor, humour, creative commons, cc, english, parody, mandrake, mageia, linux, judaism, jewish, demons, spoof, star trek, ds9, bible" %]
