[%- SET desc = "“Terminator: Liberation” - An Illustrated Screenplay for a self-referential Terminator parody starring Arnold Schwarzenegger as himself, Emma Watson as herself, and their cosplayers as Terminators. Takes place in Tel Aviv during Passover 2021 and Olamot Con" -%]

[%- SET more_keywords = "arnold,bible,buffy,cc,creative commons,emma watson,english,female geeks,humor,humour,israel,jewish,judaism,linux,mageia,mandrake,my little pony,novella,parody,schwarzenegger,spoof,star trek,story,terminator,vampires,Passover,Olamot,Olamot con,cosplay,tel aviv" -%]
