[% SET desc = "“Terminator: Liberation” - An Illustrated Screenplay for a self-referential Terminator parody starring Arnold Schwarzenegger as himself, Emma Watson as herself, and their cosplayers as Terminators. Takes place in Tel Aviv during Passover 2021 and Olamot Con" %]

[% SET more_keywords = "buffy, female geeks, israel, my little pony, vampires, story, novella, humor, humour, creative commons, cc, english, parody, mandrake, mageia, linux, judaism, jewish, demons, spoof, star trek, ds9, bible" %]
