[%- SET title = "Hebrew pages" -%]
[%- SET desc = "Site map for www.shlomifish.org'ss Hebrew pages" -%]

[%- WRAPPER wrap_html -%]

<div class="sitemap">
[% shlomif_hebrew_expanded_nav_bar %]
</div>

<p>
<a href="[% base_path %]MANIFEST.html">MANIFEST.html</a> - list of all files in main
source, for easy retrieval.
</p>

[% END %]
