[%- SET title = "Shlomi Fish’s Art Recommendations" -%]
[%- SET desc = "Recommendations of artworks I enjoyed." -%]


[%- WRAPPER wrap_html -%]

<h2><a href="music/">Music</a></h2>

<p>
Recommendations of music.
</p>

[% END %]
