[%- SET title = "Lightning Talk about Meta-Data Database Access" -%]
[%- SET desc = "Lightning Talk about Meta-Data Database Access" -%]


[%- WRAPPER wrap_html -%]

<p>
This is a presentation about handling database queries by using meta-data,
so if the database schema changes, the changes will be relatively minimal.
</p>

<ul>
[% PROCESS eng_qp_lect %]
</ul>

[% END %]
