[%- SET title = "Validate Your HTML" -%]
[%- SET desc = "The what, why, and how, of having valid HTML" -%]
[%- SET more_keywords = "html, html5, validation, validate, valid, standards" -%]

[%- WRAPPER wrap_html -%]

<p>
<img src="Valid_XHTML_1.0.min.svg" style="height:100px;" class="rfloaty" alt="Valid XHTML 1.0 Logo" title="One of the valid markup logos." />
</p>

[%- IF 0 -%]
[%# print_markdown(fn=>'lib/repos/validate-your-html/README.md') %]
[%- END -%]

[% path_slurp("docbook/5/rendered/validate-your-html.xhtml") %]

[% WRAPPER credits_sect %]

<ul>

<li>
<p>
<a href="https://commons.wikimedia.org/wiki/File:Valid_XHTML_1.0.svg">Valid XHTML 1.0 Logo</a> taken from the Wikimedia Commons under the public domain.
</p>
</li>

</ul>

[% END %]

[% END %]
