[%- SET title = "“The Enemy and How I Helped to Fight it” - Text of the English Translation - Fifth Draft" -%]
[%- SET desc = "“The Enemy and How I Helped to Fight it” - Text of the English Translation - Fifth Draft" -%]

[%- WRAPPER wrap_html -%]

<p>
<b>Written and Translated By:</b> Shlomi Fish
</p>

[% default_toc %]

<div class="story">

[% path_slurp("htmls/The-Enemy-English-rev5.html-part") %]

</div>

[% END %]
