[% SET rtl_layout = "1 " %]
[% SET shlomif_lang = "he" %]
[%- SET title = "האויב ואיך עזרתי להילחם בו" -%]
[%- SET desc = "האויב ואיך עזרתי להילחם בו" -%]

[%- WRAPPER wrap_html -%]

[% toc_div( "lang" => "he", ) %]

<p><b>מאת:</b> שלומי פיש </p>

[% path_slurp("htmls/The-Enemy-rev5.html-part") %]

[% END %]
