[%  SET title = "Sneaking into the van Gogh museum"  %]
[%- SET desc = "A true story about Sneaking into the van Gogh museum in Amsterdam" -%]
[%- SET emwatson_url = "${base_path}meta/nav-blocks/blocks/#harry_potter_nav_block" -%]

[%- WRAPPER wrap_html -%]

<p>
My father and I visited <a href="https://en.wikipedia.org/wiki/Amsterdam">Amsterdam</a>
(in the Netherlands) during a trip to Europe during the 1990 Passover vacation.
</p>

sneaking-into-the-van-gogh-museum
[% END %]
